


.mapContainer{
    width: 100vw;
    height: 98vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map{
    margin:auto;
    width: 60%;
    height: 100%;
}